---
interface Props {
  imageUrl: string;
  title: string;
  socialLink: string;
}

const { imageUrl, title, socialLink } = Astro.props;
---

<a href={socialLink} target="_blank" rel="noopener noreferrer">
  <img src={imageUrl} alt={title} width="40" height="40" />
</a>
